{% set contact = craft.entries.section('contact').first() %}

<footer class="footer footer--meta" itemscope itemtype="http://schema.org/WPFooter">
	<div class="footer__in">
		{% spaceless %}
		<div class="footer__primary">
			<div class="footer__about">
				<h3 class="footer__heading">{{ footer.heading }}</h3>
				{{ footer.copy | md }}
			</div>

			<div class="footer__contact">
				<h3 class="footer__heading">{{ contact.title }}</h3>
				{% include '_includes/_address' with { location: contact, rootClass: 'footer__contact' } %}
				<div class="footer__contact__methods">
					{% if contact.phoneNumber %}{% include '_includes/_phone' with { number: contact.phoneNumber, rootClass: 'footer__contact' } %}{% endif %}
					{% set emailLink = '<a href="mailto:' ~ contact.emailAddress ~ '">' ~ contact.emailAddress ~ '</a>' %}
					<p class="footer__contact__email">
						{{ emailLink | rot13 }}
					</p>
				</div>
			</div>
		</div>

		<nav class="footer__nav">
		{% set columnsSplit = false %}
		{% for link in footer.links %}
			{% if loop.first %}
			<ul class="footer__nav__col-1">
			{% endif %}
				<li>
					<a href="{{ link.url }}" title="">{{ link.text }}</a>
				</li>
			{% if loop.length > 2 and loop.index >= (loop.length / 2) and columnsSplit == false %}
				</ul>
				<ul class="footer__nav__col-2">
				{% set columnsSplit = true %}
			{% endif %}
			{% if loop.last %}
			</ul>
			{% endif %}
		{% endfor %}
		</nav>
		{% endspaceless %}
	</div>
</footer>

<footer class="footer footer--fineprint">
	<div class="footer__in">
		{% include '_includes/_socialMediaLinks' with { entry: contact } %}
		<p class="copyright"><span>Copyright &copy; {{ now.format('Y') }} {{ siteName }}.</span> <span>All Rights Reserved.</span></p>
		<p class="credits"><a href="http://line58.com" title="Visit the Line 58 website"{% if craft.request.segment(1) %} rel="nofollow"{% endif %}><span>Web Design by</span> <span>Line 58 Branding &amp; Web Design</span></a></p>
	</div>
</footer>