<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	{% hook 'seomaticRender' %}

	{# {% include '_includes/_favicons' %} #}

	{% if canonicalUrl is defined %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
	{% if noIndex is defined %}<meta name="robots" content="noindex">{% endif %}

	{% include '_includes/_stylesheets' %}
	{% include '_includes/_scriptsHead' %}
</head>

<body itemscope itemtype="http://schema.org/{% if pageSchema is defined %}{{ pageSchema }}{% else %}WebPage{% endif %}">
<script>
	var bdy = document.getElementsByTagName('body');
	bdy[0].classList.add('js');

	var touchClass = 'ontouchstart' in document.documentElement ? 'can-touch' : 'non-touch';
	bdy[0].classList.add(touchClass);
</script>
{% include '_includes/_svg' %}

<div id="top"></div>

<div id="site"{% if pageClass is defined %} class="{{ pageClass }}"{% endif %}>

		<header id="masthead" class="masthead" itemscope itemtype="http://schema.org/WPHeader">
			<div class="masthead__in">
				<a id="logo" href="{{ siteUrl }}" title="Back to {{ siteName }} homepage">
					{# <svg class="svg-logo"><use xlink:href="#svg-logo"></use></svg> #}
					<img class="logo" src="{{ url('assets/img/logo.png') }}" alt="{{ siteName }}">
				</a>

				{% include '_includes/_menu' %}
			</div>
		</header>
	
		<main id="content"{% if contentClass is defined %} class="{{ contentClass }}"{% endif %} itemprop="mainContentOfPage">
			{% block content %}
			{% endblock %}
		</main>
	
		{% include '_includes/_footer' %}

</div>{# /#site #}

{% include '_includes/_scriptsFooter' %}

</body>
</html>
